{% extends "base_page.jinja2" %}

{% block content_page %}
    <form method="POST" action="#" enctype='multipart/form-data'>
        <div class="create_listing_block">
            <div class="box">
                <div class="step_name">
                    <div class="num">1</div>
                    <p>{{ _('title:general_info') }}</p>
                </div>

                <div class="line_form">
                    <label>{{ _('title:platform') }}</label>
                    <div class="select">
                        <p class="val">{{ _('placeholder:please_select') }}</p>
                        <select class="select_platform">
                            <option value="" disabled selected>{{ _('placeholder:please_select') }}</option>
                        </select>
                    </div>
                </div>

                <div class="line_form">
                    <label>{{ _('title:game') }}</label>
                    <div class="select">
                        <p class="val">{{ _('placeholder:select_game') }}</p>
                        <select class="select_game">
                            <option value="" disabled selected>{{ _('placeholder:select_game') }}</option>
                        </select>
                    </div>
                </div>

                <div class="service-box">
                    <div class="line_form">
                        <label>{{ _('title:service') }}</label>
                        <div class="select">
                            <p class="val">{{ _('placeholder:select_service') }}</p>
                            <select class="select_service">
                                <option value="" disabled selected>{{ _('placeholder:select_service') }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="form"></div>
        </div>
    </form>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        let optionTemplate = (value, text) => `
            <option value="${value}">${text}</option>
        `;

        let selectListTemplate = (label, className, placeholder, items) => {
            let options = items.map((item) => optionTemplate(item.id, item.name)).join('');
            return `
                <div class="line_form">
                    <label>${label}</label>
                    <div class="select">
                        <p class="val">${placeholder}</p>
                        <select class="${className}">
                            <option value="" disabled selected>${placeholder}</option>
                            ${options}
                        </select>
                    </div>
                </div>
            `;
        };
    </script>
    <script src="/js/product/create.js"></script>
{% endblock %}