{% extends 'base_page.jinja2' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/css/tiny-slider.css">
    <style>
        .owl-item img {
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block content_page %}
    <div class="product_block">
        <div class="gallery owl-carousel trades_counts">
            {% for image in product_images %}
                <img src="https://{{ settings.aws_bucket }}/{{ image.url }}" alt="">
            {% endfor %}
        </div>
        <div class="b-flex">
            <div class="info">
                <div class="text">
                    <div class="line">
                        <p>Game:</p>
                        <p><a href="{{ url('game_trades', game_url=game.url) }}"
                              class="pointer hover_underline val">{{ game.name }}</a></p>
                    </div>
                    <div class="line">
                        <p>Type of service:</p>
                        <p>
                            {% for service in service_path %}
                                <a href="{{ url('game_trades', game_url=game.url, query_={'services': service.id}) }}"
                                   class="pointer hover_underline val">{{ service.name }}</a>
                                {% if not loop.last %}
                                    -
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="line">
                        <p>Platform:</p>
                        <p><a href="{{ url('games', query_={'platform': platform.name}) }}"
                              class="pointer hover_underline val">{{ platform.name }}</a></p>
                    </div>
                </div>
                <div class="seller">
                    <div class="d-none">Seller:</div>
                    <div class="ico">
                        <img src="https://{{ settings.aws_bucket }}/{{ shop.image_url }}" alt="seller"
                             style="width: 62px;">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">{{ shop.name }}</p>
                        <div class="stars">
                            {% for i in range(5) %}
                                {% if i < shop.rating|round(0, 'floor') %}
                                    <div class="active"></div>
                                {% else %}
                                    <div></div>
                                {% endif %}
                            {% endfor %}
                            <p>{{ shop.rating }}</p>
                        </div>
                    </div>
                </div>

                {% if request['user'] is not none %}
                    <button id="follow-button" class="{% if is_follower %}btn{% else %}btn3{% endif %}">
                        {% if is_follower %}
                            {{ _('button:unfollow') }}
                        {% else %}
                            {{ _('button:follow') }}
                        {% endif %}
                    </button>
                {% endif %}

            </div>
            <div class="price_box">
                <div class="one_line">
                    <div class="count">
                        <div class="minus"></div>
                        <input type="text"
                               id="count"
                               min="{{ product.product.min_unit_per_order }}"
                               max="{{ product.product.stock }}"
                               value="{{ product.product.min_unit_per_order }}"
                               disabled>
                        <div class="plus"></div>
                    </div>
                    <p class="price"
                       id="price_val">{{ product.product.price_per_unit / 100 }}</p>
                    <p class="price">{{ currency.sign }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="/js/owl.carousel2.thumbs.min.js"></script>
    <script>
        let price = {{ product.product.price_per_unit / 100 }};
        ($(() => {
            $('.owl-carousel').owlCarousel({
                thumbs: true,
                thumbImage: true,
                items: 1,
                center: true,
                autoWidth: true
            });

            function change_counter(func) {
                let counter = $("#count");
                let val = Number(counter.val());
                let new_val = Number(func(val));
                let plus = $(".plus");
                let minus = $(".minus");
                plus.prop("disabled", false);
                minus.prop("disabled", false);
                if (new_val <= Number(counter.attr('min'))) {
                    minus.prop("disabled", true);
                }
                if (new_val >= Number(counter.attr('max'))) {
                    plus.prop("disabled", true);
                }
                counter.val(new_val);
                $("#price_val").text((price * new_val).toFixed(2));
            }

            $(document).on('click', '.plus', (event) => change_counter(x => x + 1));
            $(document).on('click', '.minus', (event) => change_counter(x => x - 1));
            change_counter(x => x)
        }));

        let followUrl = "{{ url('ajax_store_follow_post') }}";
        let unfollowUrl = "{{ url('ajax_store_unfollow_post') }}";
        let buttonFollowText = "{{ _('button:follow') }}";
        let buttonUnfollowText = "{{ _('button:unfollow') }}";
        let shopId = {{ shop.id }};

        $(document).ready(function() {
            $(document).on('click', '#follow-button', function(event) {
                let isFollowing = $(event.target).hasClass('btn3');
                let targetUrl = isFollowing ? followUrl : unfollowUrl;

                $.ajax({
                    method: 'POST',
                    url: targetUrl,
                    data: {
                        shop_id: shopId
                    },
                    success: function(data) {
                        if (data.success) {
                            if (isFollowing) {
                                $(event.target).html(buttonUnfollowText);
                                $(event.target).removeClass('btn3');
                                $(event.target).addClass('btn');
                            } else {
                                $(event.target).html(buttonFollowText);
                                $(event.target).removeClass('btn');
                                $(event.target).addClass('btn3');
                            }
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}