{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="about_block">
        <img class="img" src="/images/about.jpg" alt="">
        <div class="text">
            <p>{{ _('text:about_us') }}</p>
            <div class="buttons">
                <a href="#" class="btn3">{{ _('link:start_shopping') }}</a>
                <a href="#" class="btn">{{ _('link:start_selling') }}</a>
            </div>
        </div>
    </div>
{% endblock %}