{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="for_someone_block">
        <div class="nav">
            <div class="select only_mob">
                <p class="val">How to buy</p>
                <select>
                    <option>How to buy</option>
                    <option>Why we?</option>
                    <option>Warranty</option>
                </select>
            </div>
            <div class="no_mob">
                <p class="title">Content</p>
                <div class="nav_content">
                    <a href="#" class="active">How to buy</a>
                    <a href="#">Why we?</a>
                    <a href="#">Warranty</a>
                    <a href="#">Why we?</a>
                    <a href="#">Warranty</a>
                </div>
            </div>
        </div>
        <div class="right_side">
            <div class="step">
                <div class="num">01</div>
                <div class="text">
                    <p class="name">Lorem impsum dolor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
            <div class="step">
                <div class="num">02</div>
                <div class="text">
                    <p class="name">Lorem impsum dolor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
            <div class="step">
                <div class="num">03</div>
                <div class="text">
                    <p class="name">Lorem impsum dolor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}