{% extends "base.jinja2" %}

{% block content %}
    <div class="rectangle2"></div>
    <div class="content">
        <div class="promo_block">
            <div class="wrap">
                <div class="col">
                    <h1>{{ _('title:welcome_header') }}</h1>
                    <p class="slogan">{{ _('title:welcome_text') }}</p>
                    {% include 'components/search_bar.jinja2' %}
                    <div class="buttons no_mob">
                        <a href="{{ url('for_buyers') }}">{{ _('title:for_buyers') }} <span></span></a>
                        <a href="#">{{ _('title:for_sellers') }} <span></span></a>
                        <a href="#">{{ _('title:trade_protect') }} <span></span></a>
                    </div>
                </div>
                <div class="slider_block">
                    <div class="slider hex">
                        <div class="owl-carousel">
                            <div class="item"><img src="images/hex_slide.png" alt=""></div>
                            <div class="item"><img src="images/hex_slide.png" alt=""></div>
                            <div class="item"><img src="images/hex_slide.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section full">
            <div class="wrap">
                <h2>{{ _('title:choose_platform') }}</h2>
                <div class="slider pos-center">
                    <div class="owl-carousel">
                        <a href="{{ url('games', query_={'platform': 'Mobile'}) }}" class="item">
                            <img src="images/mobile.svg" alt="">
                            <span>{{ _('title:mobile_games') }}</span>
                        </a>
                        <a href="{{ url('games', query_={'platform' : 'PC'}) }}" class="item">
                            <img src="images/pc.svg" alt="">
                            <span>{{ _('title:pc_games') }}</span>
                        </a>
                        <a href="{{ url('games', query_={"platform" : "Console"}) }}" class="item">
                            <img src="images/console.svg" alt="">
                            <span>{{ _('title:console_games') }}</span>
                        </a>
                    </div>
                </div>
                <div class="to_center"><a href="#" class="btn">{{ _('title:all_games') }}</a></div>
            </div>
        </section>
        <section class="section full">
            <div class="wrap">
                <h2>{{ _('title:recommendations') }}</h2>
                <div class="slider once no_mob">
                    <div class="owl-carousel">
                        <div class="item">
                            <a href="#" class="small">
                                <img src="images/raider.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="big">
                                <img src="images/wow.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="big">
                                <img src="images/wow.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="small">
                                <img src="images/raider.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="small">
                                <img src="images/raider.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="big">
                                <img src="images/wow.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="big">
                                <img src="images/wow.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="small">
                                <img src="images/raider.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="small">
                                <img src="images/raider.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="big">
                                <img src="images/wow.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="big">
                                <img src="images/wow.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                            <a href="#" class="small">
                                <img src="images/raider.jpg" alt="">
                                <span class="slogan">They’ll know my name</span>
                                <span class="name">Rise of the <br>Tomb Raider</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider once only_mob">
                    <div class="owl-carousel">
                        <a href="#" class="item">
                            <img src="images/raider.jpg" alt="">
                            <span class="slogan">They’ll know my name</span>
                            <span class="name">Rise of the <br>Tomb Raider</span>
                        </a>
                        <a href="#" class="item">
                            <img src="images/raider.jpg" alt="">
                            <span class="slogan">They’ll know my name</span>
                            <span class="name">Rise of the <br>Tomb Raider</span>
                        </a>
                        <a href="#" class="item">
                            <img src="images/raider.jpg" alt="">
                            <span class="slogan">They’ll know my name</span>
                            <span class="name">Rise of the <br>Tomb Raider</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="chat_block">
            <div class="wrap">
                <h2>{{ _('title:chat_general') }}</h2>
                <form action="#" class="search">
                    <p><input type="text" placeholder="{{ _('placeholder:search') }}"></p>
                    <button></button>
                </form>
                <a href="#" class="btn2 show_choose_panel only_mob">{{ _('placeholder:choose_game') }}</a>
                <div class="choose_panel">
                    <p class="title">{{ _('placeholder:choose_game') }}</p>
                    <div class="close"></div>
                    <input type="text" placeholder="{{ _('placeholder:start_typing') }}">
                    <div class="result channel-list-box-mobile">

                    </div>
                </div>
                <div class="chat_box">
                    <div class="games_block no_mob">
                        <p class="title">{{ _('title:games') }}</p>
                        <form action="#" class="search">
                            <p><input type="text" placeholder="{{ _('placeholder:search_by_games') }}"></p>
                            <button></button>
                        </form>
                        <div class="scroll" id="channel-list-box">
                        </div>
                    </div>
                    <div class="chat">
                        <div class="messages" id="message-box">
                        </div>
                        <div class="send_box">
                            <input id="send-input" type="text" placeholder="{{ _('placeholder:enter_message') }}">
                            <div class="buttons">
                                <a href="#" class="upload"></a>
                                <a href="#" class="smiles"></a>
                                <button class="send" id="send-button"><span class="no_mob">{{ _('title:send') }}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'components/payment_methods.jinja2' %}

    </div>

{% endblock %}

{% block js %}
    {{ super() }}
    <script src="/js/chat.general.js"></script>
{% endblock %}
