{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="action_line">
        <form action="#" class="search2">
            <p><input type="text" placeholder="Поиск  по лотам"></p>
            <button></button>
        </form>
        <div class="sort_box">
            <p class="label">Сортировать по:</p>
            <div class="select only_mob">
                <p class="val">Популярности</p>
                <select>
                    <option>Цене</option>
                    <option>Популярности</option>
                    <option>Дате</option>
                </select>
            </div>
            <div class="sort_1 no_mob">
                <a href="#" class="active">Цене</a>
                <a href="#">Популярности</a>
                <a href="#">Дате</a>
            </div>
            <div class="sort_2 no_mob">
                <a href="#" class="active">Все</a>
                <a href="#">Активные</a>
                <a href="#">Завершенные</a>
            </div>
            <p class="total_lots">Всего 2 087 лотов</p>
        </div>
    </div>
    <div class="lots_block">
        <div class="th">
            <div class="group_1">
                <p class="seller">Продавец</p>
                <p class="name_lot">Наименование</p>
            </div>
            <div class="group_2">
                <p class="date">Выставлено</p>
                <p class="timer">Осталось</p>
                <p class="count">Количество</p>
                <p class="price">Цена</p>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE</p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">12 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">24 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    1205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE
                            Outlaw 176 ilvl!
                        </p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">3 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">3 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE</p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">12 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">24 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    1205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE
                            Outlaw 176 ilvl!
                        </p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">3 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">3 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE</p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">12 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">24 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    1205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE
                            Outlaw 176 ilvl!
                        </p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">3 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">3 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE</p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">12 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">24 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    1205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE
                            Outlaw 176 ilvl!
                        </p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">3 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">3 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE</p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">12 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">24 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    1205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="lot">
            <div class="group_1">
                <div class="name_lot">
                    <img src="images/lot_img.jpg" alt="">
                    <div class="text">
                        <p class="name">BfA 110 уровень ROGUE
                            Outlaw 176 ilvl!
                        </p>
                        <div class="info">
                            <p><span>Server</span>
                                Defias Brotherhood
                            </p>
                            <p><span>Faction</span>
                                Alliance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="seller">
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_2">
                <div class="date">09.06.19</div>
                <div class="timer">
                    <p class="days">3 <span>дня</span></p>
                    <p class="hours">12 <span>часов</span></p>
                    <p class="minutes">3 <span>минуты</span></p>
                </div>
                <div class="count" data-title="количество:">
                    205
                </div>
                <div class="price">
                    <p>120 <span>$</span></p>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </div>
        <div class="btn_line">
            <a href="#" class="btn">See more</a>
        </div>
    </div>
{% endblock %}