{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="types_block">
        <a href="{{ url('games', query_={'platform': 'Mobile'}) }}" class="item">
            <img src="images/mobile.svg" alt=""/>
            <span class="name">Mobile games</span>
        </a>
        <a href="{{ url('games', query_={'platform' : 'PC'}) }}" class="item">
            <img src="images/pc.svg" alt=""/>
            <span class="name">PC Games</span>
        </a>
        <a href="{{ url('games', query_={"platform" : "Console"}) }}" class="item">
            <img src="images/console.svg" alt=""/>
            <span class="name">Console</span>
        </a>
        <div class="btn_line">
            <a href="{{ url('games') }}" class="btn">All games</a>
        </div>
    </div>
{% endblock %}