{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="product_block">
        <div class="gallery">
            <div class="big_img">
                <img src="images/product.jpg" alt="">
            </div>
            <div class="small">
                <a href="#" class="active">
                <img src="images/lot_img.jpg" alt="">
                </a>
                <a href="#">
                <img src="images/lot_img.jpg" alt="">
                </a>
                <a href="#">
                <img src="images/lot_img.jpg" alt="">
                </a>
                <a href="#">
                <img src="images/lot_img.jpg" alt="">
                </a>
                <a href="#">
                <img src="images/lot_img.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="b-flex">
            <div class="info">
                <div class="text">
                    <div class="line">
                        <p>Type of service:</p>
                        <p class="val">Accounts</p>
                    </div>
                    <div class="line">
                        <p>Platform:</p>
                        <p class="val">PC</p>
                    </div>
                    <div class="line">
                        <p>Gender:</p>
                        <p class="val">RPG</p>
                    </div>
                </div>
                <div class="seller">
                    <div class="d-none">Seller:</div>
                    <div class="ico">
                        <img src="images/ico_mess.png" alt="">
                        <span class="online"></span>
                    </div>
                    <div>
                        <p class="name">Minlo_87</p>
                        <div class="stars">
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div class="active"></div>
                            <div></div>
                            <p>4.0</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn">Follow</a>
            </div>
            <div class="price_box">
                <div class="one_line">
                    <div class="count">
                        <div class="minus"></div>
                        <input type="text" value="1">
                        <div class="plus"></div>
                    </div>
                    <p class="price">120 <span>$</span></p>
                </div>
                <div class="btn3">КУпить</div>
            </div>
            <div class="discription">
                <h3>Descripsion</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
    <section class="section pb_30">
        <h2>Seller's other lots</h2>
        <div class="other_lots">
            <div class="lot">
                <div class="group_1">
                    <div class="name_lot">
                        <img src="images/lot_img.jpg" alt="">
                        <div class="text">
                            <p class="name">BfA 110 уровень ROGUE</p>
                            <div class="info">
                                <p><span>Server</span>
                                    Defias Brotherhood
                                </p>
                                <p><span>Faction</span>
                                    Alliance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group_2 col3">
                    <div class="more">
                        <a href="#">More</a>
                    </div>
                    <div class="price">
                        <p>120 <span>$</span></p>
                        <a href="#" class="btn">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="lot">
                <div class="group_1">
                    <div class="name_lot">
                        <img src="images/lot_img.jpg" alt="">
                        <div class="text">
                            <p class="name">BfA 110 уровень ROGUE</p>
                            <div class="info">
                                <p><span>Server</span>
                                    Defias Brotherhood
                                </p>
                                <p><span>Faction</span>
                                    Alliance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group_2 col3">
                    <div class="more">
                        <a href="#">More</a>
                    </div>
                    <div class="price">
                        <p>120 <span>$</span></p>
                        <a href="#" class="btn">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="lot">
                <div class="group_1">
                    <div class="name_lot">
                        <img src="images/lot_img.jpg" alt="">
                        <div class="text">
                            <p class="name">BfA 110 уровень ROGUE</p>
                            <div class="info">
                                <p><span>Server</span>
                                    Defias Brotherhood
                                </p>
                                <p><span>Faction</span>
                                    Alliance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group_2 col3">
                    <div class="more">
                        <a href="#">More</a>
                    </div>
                    <div class="price">
                        <p>120 <span>$</span></p>
                        <a href="#" class="btn">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
        <h2>Recently Viewed</h2>
        <div class="other_lots">
            <div class="lot">
                <div class="group_1">
                    <div class="name_lot">
                        <img src="images/lot_img.jpg" alt="">
                        <div class="text">
                            <p class="name">BfA 110 уровень ROGUE</p>
                            <div class="info">
                                <p><span>Server</span>
                                    Defias Brotherhood
                                </p>
                                <p><span>Faction</span>
                                    Alliance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group_2 col3">
                    <div class="more">
                        <a href="#">More</a>
                    </div>
                    <div class="price">
                        <p>120 <span>$</span></p>
                        <a href="#" class="btn">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="lot">
                <div class="group_1">
                    <div class="name_lot">
                        <img src="images/lot_img.jpg" alt="">
                        <div class="text">
                            <p class="name">BfA 110 уровень ROGUE</p>
                            <div class="info">
                                <p><span>Server</span>
                                    Defias Brotherhood
                                </p>
                                <p><span>Faction</span>
                                    Alliance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group_2 col3">
                    <div class="more">
                        <a href="#">More</a>
                    </div>
                    <div class="price">
                        <p>120 <span>$</span></p>
                        <a href="#" class="btn">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="lot">
                <div class="group_1">
                    <div class="name_lot">
                        <img src="images/lot_img.jpg" alt="">
                        <div class="text">
                            <p class="name">BfA 110 уровень ROGUE</p>
                            <div class="info">
                                <p><span>Server</span>
                                    Defias Brotherhood
                                </p>
                                <p><span>Faction</span>
                                    Alliance
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group_2 col3">
                    <div class="more">
                        <a href="#">More</a>
                    </div>
                    <div class="price">
                        <p>120 <span>$</span></p>
                        <a href="#" class="btn">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}