{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="slider mini">
        <div class="owl-carousel trades_counts">
            {#            {% for service_id, service in services.items() %}#}
            {#            <a service_id="{service_id}" class="item trade_service">#}
            {#                <span class="count">{ services_counts[service_id] }</span>#}
            {#                <img src="/images/icons/helmet.svg" alt="">#}
            {#                <span class="name">{ service.name }</span>#}
            {#            </a>#}
            {#            {% endfor %}#}
        </div>
    </div>
    <div class="filter_block">
        <a href="#" class="btn show_filter_panel only_mob">filter</a>
        <div class="filter_panel">
            <div class="close"></div>
            <div class="block_1">
                <p class="title">Filter:</p>
            </div>
            <div class="select_sort">
                {% for filter in filters %}
                    <div class="select_box" option_id="{{ filter.option.id }}">
                        <div class="select">
                            <p class="val">{{ filter.option.game_option_name }}</p>
                            <select>
                                <option value="" disabled selected>{{ filter.option.game_option_name }}</option>
                                {% for option in filter.values %}
                                    <option value="{{ option.id }}">{{ option.game_option_value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="reset_box no_mob">
                <a href="#" class="reset">Reset</a>
            </div>
        </div>
    </div>
    <div class="lots_block">
        <div class="th">
            <div class="group_1">
                <p class="seller">Продавец</p>
                <p class="name_lot">Наименование</p>
            </div>
            <div class="group_2 col3">
                <p class="code">Vendor code</p>
                <p class="count">Количество</p>
                <p class="price">Цена</p>
            </div>
        </div>

        <div class="btn_line see_more_line">
            <div class="btn see_more_btn">See more</div>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ super() }}
    <script src="/js/appear.min.js"></script>
    <script>
        let services_url = '{{ url('ajax_service_counter') }}';
        let initial_service = '{{ request.rel_url.query.get('service') }}';
        let aws_bucket = 'https://{{ settings.aws_bucket }}';
        let backText = '{{ _('text:go_back') }}';
        let selectAllText = '{{ _('text:select_all') }}';
        let game = {
            game_id: {{ game.id }},
            game_url: '{{ game.url }}'
        };
        let serviceParams = {
            game_id: {{ game.id }},
            {% if initial_service %}
                parent_id: {{initial_service.parent_id}},
            {% else %}
                parent_id: null,
            {% endif %}
            service: {{ query_params.get('service') or 0 }}
        };
        let queryString = {{ query_params | safe }};
        let trades_url = '{{ url('ajax_product_list_get', query_={'game_id': game.id}) }}';
        let default_trades_filters = {
            service: 0,
            game_id: {{game.id}},
            options: "",
            limit: 10,
            offset: 0,
            is_ajax: 1
        };
    </script>
    <script src="/js/trades/services.js"></script>
    <script src="/js/trades/trades.js"></script>
{% endblock %}
