<div class="line_form">
    <label class="checkbox">
        <input type="checkbox" id="terms-of-service" />
        <span class="checkbox__text">
            <p>{{ _('text:terms_of_service') }}
            <a href="#">{{ _('title:terms_of_service') }}</a>.</p>
        </span>
    </label>
</div>
<button type="button" id="submit" class="btn3">{{ _('label:submit') }}</button>