{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="games_block">
    </div>
{% endblock %}

{% block js %}
    {{ super() }}

    <script>
        const gameTemplate = (game) => {
            let renderedServices = '';
            game.services.forEach((service) => {
                renderedServices += `<a href="/games/${game.url}?services=${service.id}">${service.name}</a>`;
            });
            return `
                <div class="block">
                    <a href="/games/${game.url}"><p class="name">${game.name}</p></a>
                    <div class="tags">
                        ${renderedServices}
                    </div>
                </div>
            `;
        };

        const gameGroupTemplate = (letter, games) => {
            let renderedGames = '';
            games.forEach((game) => {
                renderedGames += gameTemplate(game);
            });
            return `
                <div class="letter">
                    <p class="first_letter">${letter}</p>
                    ${renderedGames}
                </div>
            `;
        };

        function groupBy(list, keyGetter) {
            const map = new Map();
            list.forEach((item) => {
                 const key = keyGetter(item);
                 const collection = map.get(key);
                 if (!collection) {
                     map.set(key, [item]);
                 } else {
                     collection.push(item);
                 }
            });
            return map;
        }

        $(document).ready(function() {
            $.ajax({
                method: 'GET',
                url: '/ajax/game/list',
                success: function(data) {
                    if (data.success) {
                        let gameGroups = groupBy(data.data, (item) => item.name[0].toUpperCase());
                        Array.from(gameGroups.keys()).forEach((letter) => $('.games_block').append(gameGroupTemplate(letter, gameGroups.get(letter))))
                    }
                }
            });
        });
    </script>
{% endblock %}
