{% extends "base_page.jinja2" %}

{% block content_page %}
    <div class="filter_block">
        <a href="#" class="btn show_filter_panel only_mob">filter</a>
        <div class="filter_panel">
            <div class="close"></div>
            <div class="block_1">
                <p class="title">Filters:</p>
            </div>
            <div class="checkbox_sort services">
                {% for service in services %}
                    <label class="checkbox">
                        <input type="checkbox" service_id="{{ service.service.id }}"/>
                        <span class="checkbox__text">{{ service.service.name }}</span>
                    </label>
                {% endfor %}
            </div>
            <div class="reset_box no_mob">
                <a href="#" class="reset">Reset</a>
            </div>
        </div>
    </div>
    <div class="catalog">
        <div class="btn_line see_more_line">
            <a class="btn see_more">See more</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="/js/appear.min.js"></script>
    <script>
        let aws_bucket = 'https://{{ settings.aws_bucket }}';
    </script>
    {% if 'platform' in request.rel_url.query %}
        <script>
            let target_platform_group = '{{ request.rel_url.query.get('platform') }}';
        </script>
    {% endif %}
    <script src="/js/games.js"></script>
{% endblock %}
