{% extends 'base.jinja2' %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="content page">
        <div class="wrap">
            {% if title is not undefined %}
                <h1>{{ _(title) }}</h1>
            {% endif %}

            {% if breadcrumbs is not undefined %}
                <div class="breadcrumbs">
                    <a href="{{ url('index') }}">{{ _('title:main') }}</a> -
                    {% for page_url, page_title in breadcrumbs %}
                        <a href="{{ page_url }}">{{ _(page_title) }}</a> -
                    {% endfor %}

                    {% if title is not undefined %}
                        <p>{{ _(title) }}</p>
                    {% endif %}
                </div>
            {% endif %}

            {% block content_page %}
            {% endblock %}

            {% include 'components/payment_methods.jinja2' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}