<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ _(title) }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        {% block css %}
            <link rel="stylesheet" type="text/css" href="/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% include 'components/header.jinja2' %}

        {% block content %}
        {% endblock %}

        {% include 'components/footer.jinja2' %}

        {% block js %}
            <script src="/js/js.js"></script>
            <script src="/js/lang.js"></script>
        {% endblock %}
    </body>
</html>
