<html>
<head>

</head>
<body>
    <h1>{{ error_code }} {{ error_title }}</h1>
    <h3>{{ error_message }}</h3>

    {% if referer is not none %}
        <a href="{{ referer }}"><- Back</a>
    {% endif %}
</body>
</html>