@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1ndzvb');
  src:  url('fonts/icomoon.eot?1ndzvb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1ndzvb') format('truetype'),
    url('fonts/icomoon.woff?1ndzvb') format('woff'),
    url('fonts/icomoon.svg?1ndzvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy .path1:before {
  content: "\e900";
  color: rgb(255, 225, 125);
}
.icon-happy .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-happy .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-laughing .path1:before {
  content: "\e907";
  color: rgb(255, 225, 125);
}
.icon-laughing .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-laughing .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-laughing .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-laughing .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-laughing .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-laughing .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-laughing .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-laughing .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laughing .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-laughing .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-laughing .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-laughing .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-crying .path1:before {
  content: "\e914";
  color: rgb(255, 225, 125);
}
.icon-crying .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-crying .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-crying .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-crying .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-crying .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crying .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-crying .path8:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-crying .path9:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-crying .path10:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-crying .path11:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-crying .path12:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-crying .path13:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry .path1:before {
  content: "\e921";
  color: rgb(255, 225, 125);
}
.icon-angry .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-angry .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry .path8:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry .path9:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-angry .path10:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry .path11:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-tongue .path1:before {
  content: "\e92c";
  color: rgb(255, 225, 125);
}
.icon-tongue .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-tongue .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-tongue .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-tongue .path5:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-tongue .path6:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-tongue .path7:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry-1 .path1:before {
  content: "\e933";
  color: rgb(230, 100, 110);
}
.icon-angry-1 .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-angry-1 .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-1 .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-1 .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-1 .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-1 .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-1 .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-angry-1 .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-1 .path10:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-angry-1 .path11:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-1 .path12:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wink .path1:before {
  content: "\e93f";
  color: rgb(255, 225, 125);
}
.icon-wink .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-wink .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-wink .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-wink .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-wink .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-wink .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-wink .path8:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-disappointed .path1:before {
  content: "\e947";
  color: rgb(255, 225, 125);
}
.icon-disappointed .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-disappointed .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-disappointed .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-disappointed .path5:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-disappointed .path6:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-disappointed .path7:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-disappointed .path8:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-disappointed .path9:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sad .path1:before {
  content: "\e950";
  color: rgb(255, 225, 125);
}
.icon-sad .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-sad .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sad .path4:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sad .path5:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sad .path6:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sad .path7:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-embarrassed .path1:before {
  content: "\e957";
  color: rgb(255, 225, 125);
}
.icon-embarrassed .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-embarrassed .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-embarrassed .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-embarrassed .path5:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-embarrassed .path6:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-embarrassed .path7:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-embarrassed .path8:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-embarrassed .path9:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-embarrassed .path10:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-embarrassed .path11:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(196, 222, 255);
}
.icon-embarrassed .path12:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-embarrassed .path13:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-embarrassed .path14:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-surprised .path1:before {
  content: "\e965";
  color: rgb(255, 225, 125);
}
.icon-surprised .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-surprised .path3:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-surprised .path4:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-surprised .path5:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised .path6:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-surprised .path7:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised .path8:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-surprised .path9:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised .path10:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-surprised .path11:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sad-1 .path1:before {
  content: "\e970";
  color: rgb(255, 225, 125);
}
.icon-sad-1 .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-sad-1 .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-sad-1 .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-sad-1 .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-sad-1 .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sad-1 .path7:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-kiss .path1:before {
  content: "\e977";
  color: rgb(255, 225, 125);
}
.icon-kiss .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-kiss .path3:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-kiss .path4:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-kiss .path5:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-kiss .path6:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-kiss .path7:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-kiss .path8:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-kiss .path9:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-kiss .path10:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-thinking .path1:before {
  content: "\e981";
  color: rgb(255, 225, 125);
}
.icon-thinking .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-thinking .path3:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-thinking .path4:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-thinking .path5:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-thinking .path6:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-thinking .path7:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-thinking .path8:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-thinking .path9:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-thinking .path10:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-thinking .path11:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-thinking .path12:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-thinking .path13:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-thinking .path14:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-angel .path1:before {
  content: "\e98f";
  color: rgb(255, 225, 125);
}
.icon-angel .path2:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-angel .path3:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-angel .path4:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angel .path5:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angel .path6:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angel .path7:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-nerd .path1:before {
  content: "\e996";
  color: rgb(255, 225, 125);
}
.icon-nerd .path2:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-nerd .path3:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-nerd .path4:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-nerd .path5:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nerd .path6:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-nerd .path7:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-nerd .path8:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-nerd .path9:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-nerd .path10:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-nerd .path11:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-nerd .path12:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-nerd .path13:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-nerd .path14:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-nerd .path15:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-nerd .path16:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-nerd .path17:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cool .path1:before {
  content: "\e9a7";
  color: rgb(255, 225, 125);
}
.icon-cool .path2:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cool .path3:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cool .path4:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cool .path5:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-cool .path6:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-cool .path7:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cool .path8:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cool .path9:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cool .path10:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-cool .path11:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(132, 115, 123);
}
.icon-cool .path12:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-cool .path13:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-cool .path14:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(132, 115, 123);
}
.icon-shocked .path1:before {
  content: "\e9b5";
  color: rgb(255, 225, 125);
}
.icon-shocked .path2:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-shocked .path3:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shocked .path4:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-shocked .path5:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-shocked .path6:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-sick .path1:before {
  content: "\e9bb";
  color: rgb(255, 225, 125);
}
.icon-sick .path2:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-sick .path3:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sick .path4:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sick .path5:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-sick .path6:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-sick .path7:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-sick .path8:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-sick .path9:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-secret .path1:before {
  content: "\e9c4";
  color: rgb(255, 225, 125);
}
.icon-secret .path2:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-secret .path3:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-secret .path4:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-secret .path5:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-secret .path6:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-secret .path7:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path8:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path9:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path10:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path11:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path12:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path13:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path14:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path15:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path16:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path17:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path18:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(183, 178, 184);
}
.icon-secret .path19:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-secret .path20:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(183, 178, 184);
}
.icon-sleeping .path1:before {
  content: "\e9d8";
  color: rgb(255, 225, 125);
}
.icon-sleeping .path2:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-sleeping .path3:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sleeping .path4:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-sleeping .path5:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-sleeping .path6:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-sleeping .path7:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-sleeping .path8:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-sleeping .path9:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised-1 .path1:before {
  content: "\e9e1";
  color: rgb(255, 225, 125);
}
.icon-surprised-1 .path2:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-surprised-1 .path3:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(250, 201, 122);
}
.icon-surprised-1 .path4:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(250, 201, 122);
}
.icon-surprised-1 .path5:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-surprised-1 .path6:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-surprised-1 .path7:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-surprised-1 .path8:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-surprised-1 .path9:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-surprised-1 .path10:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised-1 .path11:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised-1 .path12:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(250, 182, 103);
}
.icon-shocked-1 .path1:before {
  content: "\e9ed";
  color: rgb(255, 225, 125);
}
.icon-shocked-1 .path2:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-shocked-1 .path3:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-shocked-1 .path4:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-shocked-1 .path5:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-shocked-1 .path6:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-shocked-1 .path7:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-shocked-1 .path8:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy-1 .path1:before {
  content: "\e9f5";
  color: rgb(255, 225, 125);
}
.icon-happy-1 .path2:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-happy-1 .path3:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-happy-1 .path4:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-happy-1 .path5:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy-1 .path6:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy-1 .path7:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-happy-1 .path8:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path9:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path10:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path11:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path12:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path13:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-happy-1 .path14:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path15:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path16:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path17:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-1 .path18:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-rich .path1:before {
  content: "\ea07";
  color: rgb(255, 225, 125);
}
.icon-rich .path2:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-rich .path3:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-rich .path4:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(190, 232, 110);
}
.icon-rich .path5:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-rich .path6:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-rich .path7:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-rich .path8:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-rich .path9:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-rich .path10:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rich .path11:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(175, 215, 85);
}
.icon-devil .path1:before {
  content: "\ea12";
  color: rgb(90, 70, 80);
}
.icon-devil .path2:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-devil .path3:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-devil .path4:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-devil .path5:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(200, 100, 200);
}
.icon-devil .path6:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-devil .path7:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-devil .path8:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-devil .path9:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(165, 75, 190);
}
.icon-devil .path10:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-devil .path11:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-devil .path12:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-devil .path13:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-devil .path14:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-devil .path15:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-devil .path16:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-skull .path1:before {
  content: "\ea22";
  color: rgb(219, 217, 220);
}
.icon-skull .path2:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-skull .path3:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(134, 126, 136);
}
.icon-skull .path4:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(134, 126, 136);
}
.icon-skull .path5:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(111, 101, 113);
}
.icon-skull .path6:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(134, 126, 136);
}
.icon-skull .path7:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(111, 101, 113);
}
.icon-skull .path8:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(111, 101, 113);
}
.icon-skull .path9:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-skull .path10:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-skull .path11:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-skull .path12:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(201, 198, 202);
}
.icon-skull .path13:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(183, 178, 184);
}
.icon-cat .path1:before {
  content: "\ea2f";
  color: rgb(255, 209, 100);
}
.icon-cat .path2:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-cat .path3:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cat .path4:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-cat .path5:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(255, 225, 125);
}
.icon-cat .path6:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cat .path7:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cat .path8:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat .path9:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cat .path10:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat .path11:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat .path12:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat .path13:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat .path14:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat .path15:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat .path16:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cat .path17:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-robot .path1:before {
  content: "\ea40";
  color: rgb(250, 201, 122);
}
.icon-robot .path2:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(250, 182, 103);
}
.icon-robot .path3:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(156, 150, 158);
}
.icon-robot .path4:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(134, 126, 136);
}
.icon-robot .path5:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-robot .path6:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-robot .path7:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(196, 222, 255);
}
.icon-robot .path8:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-robot .path9:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-robot .path10:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-robot .path11:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-robot .path12:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-robot .path13:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-robot .path14:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-robot .path15:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(220, 235, 255);
}
.icon-robot .path16:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(220, 235, 255);
}
.icon-robot .path17:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(220, 235, 255);
}
.icon-robot .path18:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(220, 235, 255);
}
.icon-robot .path19:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(220, 235, 255);
}
.icon-robot .path20:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-poo .path1:before {
  content: "\ea54";
  color: rgb(182, 127, 95);
}
.icon-poo .path2:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(160, 110, 80);
}
.icon-poo .path3:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(182, 127, 95);
}
.icon-poo .path4:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(160, 110, 80);
}
.icon-poo .path5:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(160, 110, 80);
}
.icon-poo .path6:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(140, 90, 65);
}
.icon-poo .path7:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(182, 127, 95);
}
.icon-poo .path8:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(160, 110, 80);
}
.icon-poo .path9:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-poo .path10:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-poo .path11:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-poo .path12:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-poo .path13:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-sick-1 .path1:before {
  content: "\ea61";
  color: rgb(190, 232, 110);
}
.icon-sick-1 .path2:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(175, 215, 85);
}
.icon-sick-1 .path3:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-sick-1 .path4:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-sick-1 .path5:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-sick-1 .path6:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-sick-1 .path7:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-sick-1 .path8:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(140, 200, 85);
}
.icon-sick-1 .path9:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(140, 200, 85);
}
.icon-sick-1 .path10:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-sick-1 .path11:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-alien .path1:before {
  content: "\ea6c";
  color: rgb(201, 198, 202);
}
.icon-alien .path2:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-alien .path3:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(183, 178, 184);
}
.icon-alien .path4:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-alien .path5:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-alien .path6:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-alien .path7:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-surprised-2 .path1:before {
  content: "\ea73";
  color: rgb(255, 225, 125);
}
.icon-surprised-2 .path2:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-surprised-2 .path3:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-surprised-2 .path4:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-surprised-2 .path5:before {
  content: "\ea77";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-surprised-2 .path6:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-surprised-2 .path7:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-surprised-2 .path8:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-surprised-2 .path9:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-surprised-2 .path10:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-surprised-2 .path11:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-dead .path1:before {
  content: "\ea7e";
  color: rgb(255, 225, 125);
}
.icon-dead .path2:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-dead .path3:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-dead .path4:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-dead .path5:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-happy-2 .path1:before {
  content: "\ea83";
  color: rgb(255, 225, 125);
}
.icon-happy-2 .path2:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(250, 201, 122);
}
.icon-happy-2 .path3:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(250, 201, 122);
}
.icon-happy-2 .path4:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-happy-2 .path5:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-happy-2 .path6:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-happy-2 .path7:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy-2 .path8:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-shocked-2 .path1:before {
  content: "\ea8b";
  color: rgb(255, 225, 125);
}
.icon-shocked-2 .path2:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-shocked-2 .path3:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-shocked-2 .path4:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-shocked-2 .path5:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-shocked-2 .path6:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(196, 222, 255);
}
.icon-shocked-2 .path7:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-shocked-2 .path8:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shocked-2 .path9:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shocked-2 .path10:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-shocked-2 .path11:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-shocked-2 .path12:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat-1 .path1:before {
  content: "\ea97";
  color: rgb(255, 209, 100);
}
.icon-cat-1 .path2:before {
  content: "\ea98";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-cat-1 .path3:before {
  content: "\ea99";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cat-1 .path4:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-cat-1 .path5:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(255, 225, 125);
}
.icon-cat-1 .path6:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cat-1 .path7:before {
  content: "\ea9d";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cat-1 .path8:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat-1 .path9:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat-1 .path10:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat-1 .path11:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat-1 .path12:before {
  content: "\eaa2";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat-1 .path13:before {
  content: "\eaa3";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cat-1 .path14:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat-1 .path15:before {
  content: "\eaa5";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cat-1 .path16:before {
  content: "\eaa6";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat-1 .path17:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cat-1 .path18:before {
  content: "\eaa8";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat-1 .path19:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cat-1 .path20:before {
  content: "\eaaa";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat-1 .path21:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cat-1 .path22:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(165, 205, 255);
}
.icon-cat-1 .path23:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(140, 180, 235);
}
.icon-cowboy .path1:before {
  content: "\eaae";
  color: rgb(255, 225, 125);
}
.icon-cowboy .path2:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-cowboy .path3:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cowboy .path4:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cowboy .path5:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-cowboy .path6:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cowboy .path7:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cowboy .path8:before {
  content: "\eab5";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-cowboy .path9:before {
  content: "\eab6";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-cowboy .path10:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(140, 92, 70);
}
.icon-angry-2 .path1:before {
  content: "\eab8";
  color: rgb(230, 100, 110);
}
.icon-angry-2 .path2:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-angry-2 .path3:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-2 .path4:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-angry-2 .path5:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-2 .path6:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-angry-2 .path7:before {
  content: "\eabe";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-2 .path8:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-2 .path9:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-angry-2 .path10:before {
  content: "\eac1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-2 .path11:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-2 .path12:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-2 .path13:before {
  content: "\eac4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-2 .path14:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-2 .path15:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angry-2 .path16:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-thinking-1 .path1:before {
  content: "\eac8";
  color: rgb(255, 225, 125);
}
.icon-thinking-1 .path2:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-thinking-1 .path3:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-thinking-1 .path4:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-thinking-1 .path5:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-thinking-1 .path6:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-thinking-1 .path7:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-laughing-1 .path1:before {
  content: "\eacf";
  color: rgb(255, 225, 125);
}
.icon-laughing-1 .path2:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-laughing-1 .path3:before {
  content: "\ead1";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-laughing-1 .path4:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-laughing-1 .path5:before {
  content: "\ead3";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-laughing-1 .path6:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-laughing-1 .path7:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-laughing-1 .path8:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-laughing-1 .path9:before {
  content: "\ead7";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-laughing-1 .path10:before {
  content: "\ead8";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-injured .path1:before {
  content: "\ead9";
  color: rgb(255, 225, 125);
}
.icon-injured .path2:before {
  content: "\eada";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-injured .path3:before {
  content: "\eadb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-injured .path4:before {
  content: "\eadc";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-injured .path5:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-injured .path6:before {
  content: "\eade";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-injured .path7:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-injured .path8:before {
  content: "\eae0";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-injured .path9:before {
  content: "\eae1";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-injured .path10:before {
  content: "\eae2";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-injured .path11:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-injured .path12:before {
  content: "\eae4";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-injured .path13:before {
  content: "\eae5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-injured .path14:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(255, 241, 196);
}
.icon-smart .path1:before {
  content: "\eae7";
  color: rgb(255, 225, 125);
}
.icon-smart .path2:before {
  content: "\eae8";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-smart .path3:before {
  content: "\eae9";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-smart .path4:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-smart .path5:before {
  content: "\eaeb";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-smart .path6:before {
  content: "\eaec";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-smart .path7:before {
  content: "\eaed";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-smart .path8:before {
  content: "\eaee";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-smart .path9:before {
  content: "\eaef";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-smart .path10:before {
  content: "\eaf0";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-smart .path11:before {
  content: "\eaf1";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-silent .path1:before {
  content: "\eaf2";
  color: rgb(255, 225, 125);
}
.icon-silent .path2:before {
  content: "\eaf3";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-silent .path3:before {
  content: "\eaf4";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-silent .path4:before {
  content: "\eaf5";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-silent .path5:before {
  content: "\eaf6";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-silent .path6:before {
  content: "\eaf7";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-silent .path7:before {
  content: "\eaf8";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-silent .path8:before {
  content: "\eaf9";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-silent .path9:before {
  content: "\eafa";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-silent .path10:before {
  content: "\eafb";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-silent .path11:before {
  content: "\eafc";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-silent .path12:before {
  content: "\eafd";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-silent .path13:before {
  content: "\eafe";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-silent .path14:before {
  content: "\eaff";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-silent .path15:before {
  content: "\eb00";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-happy-3 .path1:before {
  content: "\eb01";
  color: rgb(255, 225, 125);
}
.icon-happy-3 .path2:before {
  content: "\eb02";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-happy-3 .path3:before {
  content: "\eb03";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy-3 .path4:before {
  content: "\eb04";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy-3 .path5:before {
  content: "\eb05";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy-3 .path6:before {
  content: "\eb06";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy-3 .path7:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-happy-3 .path8:before {
  content: "\eb08";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-happy-3 .path9:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-demon .path1:before {
  content: "\eb0a";
  color: rgb(110, 90, 100);
}
.icon-demon .path2:before {
  content: "\eb0b";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-demon .path3:before {
  content: "\eb0c";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-demon .path4:before {
  content: "\eb0d";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-demon .path5:before {
  content: "\eb0e";
  margin-left: -1em;
  color: rgb(255, 225, 125);
}
.icon-demon .path6:before {
  content: "\eb0f";
  margin-left: -1em;
  color: rgb(255, 225, 125);
}
.icon-demon .path7:before {
  content: "\eb10";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-demon .path8:before {
  content: "\eb11";
  margin-left: -1em;
  color: rgb(90, 70, 80);
}
.icon-demon .path9:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-demon .path10:before {
  content: "\eb13";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-demon .path11:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(110, 90, 100);
}
.icon-demon .path12:before {
  content: "\eb15";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-demon .path13:before {
  content: "\eb16";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-demon .path14:before {
  content: "\eb17";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-demon .path15:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-demon .path16:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-demon .path17:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(255, 195, 80);
}
.icon-in-love .path1:before {
  content: "\eb1b";
  color: rgb(255, 225, 125);
}
.icon-in-love .path2:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-in-love .path3:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-in-love .path4:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-in-love .path5:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-in-love .path6:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-in-love .path7:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-in-love .path8:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-tongue-1 .path1:before {
  content: "\eb23";
  color: rgb(255, 225, 125);
}
.icon-tongue-1 .path2:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-tongue-1 .path3:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-tongue-1 .path4:before {
  content: "\eb26";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-tongue-1 .path5:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-tongue-1 .path6:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-tongue-1 .path7:before {
  content: "\eb29";
  margin-left: -1em;
  color: rgb(230, 100, 110);
}
.icon-tongue-1 .path8:before {
  content: "\eb2a";
  margin-left: -1em;
  color: rgb(220, 70, 85);
}
.icon-angry-3 .path1:before {
  content: "\eb2b";
  color: rgb(255, 225, 125);
}
.icon-angry-3 .path2:before {
  content: "\eb2c";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-angry-3 .path3:before {
  content: "\eb2d";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-angry-3 .path4:before {
  content: "\eb2e";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-angry-3 .path5:before {
  content: "\eb2f";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-angry-3 .path6:before {
  content: "\eb30";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-angry-3 .path7:before {
  content: "\eb31";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry-3 .path8:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-angry-3 .path9:before {
  content: "\eb33";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-angry-3 .path10:before {
  content: "\eb34";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
.icon-calm .path1:before {
  content: "\eb35";
  color: rgb(255, 225, 125);
}
.icon-calm .path2:before {
  content: "\eb36";
  margin-left: -1em;
  color: rgb(255, 209, 100);
}
.icon-calm .path3:before {
  content: "\eb37";
  margin-left: -1em;
  color: rgb(156, 104, 70);
}
.icon-calm .path4:before {
  content: "\eb38";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-calm .path5:before {
  content: "\eb39";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-calm .path6:before {
  content: "\eb3a";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-calm .path7:before {
  content: "\eb3b";
  margin-left: -1em;
  color: rgb(170, 115, 70);
}
.icon-calm .path8:before {
  content: "\eb3c";
  margin-left: -1em;
  color: rgb(125, 80, 70);
}
