<footer class="footer">
    <div class="wrap">
        <div class="d-flex">
            <div class="logo_box">
                <a href="{{ url('index') }}" class="logo"><img src="{{ url('images', filename='logo.svg') }}" alt=""></a>
                <div class="line">
                    <a href="#" class="only_mob">{{ _('link:computer_version') }}</a>
                    <div class="lang">
                        <a href="#" class="active lang-link">En</a>
                        <a href="#" class="lang-link">Ru</a>
                    </div>
                </div>
            </div>
            <ul class="footer_menu no_mob">
                <li><a href="{{ url('for_buyers') }}">{{ _('title:for_buyers') }}</a></li>
                <li><a href="#">{{ _('title:for_sellers') }}</a></li>
                <li><a href="#">{{ _('title:trade_protect') }}</a></li>
                <li><a href="#">{{ _('link:forum') }}</a></li>
                <li><a href="#">{{ _('title:games') }}</a></li>
                <li><a href="{{ url('about_us') }}">{{ _('title:about_us') }}</a></li>
            </ul>
        </div>
        <div class="footer_line">
            <p class="copy">© 2019 Gaming-Warehouse</p>
            <div class="soc">
                <a href="#"><img src="/images/icons/vk.svg" alt=""></a>
                <a href="#"><img src="/images/icons/tw.svg" alt=""></a>
                <a href="#"><img src="/images/icons/fb.svg" alt=""></a>
            </div>
            <p class="created">
                {{ _('text:designed_by') }}:
                <a href="#">uix.digital</a>
            </p>
        </div>
    </div>
</footer>