<header class="header {% if not request.path|is_index %}page{% endif %}">
    <div class="wrap">
        <div class="left_group">
            <a href="{{ url('index') }}" class="logo"><img src="{{ url('images', filename='logo.svg') }}" alt="" /></a>
            <div class="menu show_user logined">
                <!-- If user has not been authorized -->
                {% if request['user'] is none %}
				<div class="sing_line only_mob">
					<a href="{{ ext_url('sign_in') }}" class="btn">{{ _('link:sign_in') }}</a>
					<a href="{{ ext_url('sign_up') }}" class="btn3">{{ _('link:sign_up') }}</a>
				</div>
                <!-- If user has been authorized -->
                {% else %}
				<a href="#" class="user_line">
					<p class="name">{{ request['user']['nickname'] }}</p>
					<img src="{{ ext_url('storage') }}/{{ request['user']['image_small'] }}" width="35px" alt="" class="ico img-circle">
				</a>
				{% endif %}
                <!-- End If -->
			</div>
			<div class="menu show_menu">
				<ul>
					<li><a href="{{ ext_url('forum') }}">{{ _('link:forum') }}</a></li>
					<li><a href="{{ url('games') }}">{{ _('title:games') }}</a></li>
					<li><a href="{{ url('about_us') }}">{{ _('title:about_us') }}</a></li>
					<li><a href="#">{{ _('title:faq') }}</a></li>
				</ul>
			</div>
        </div>

        <div class="right_group">
            <div class="line no_mob">
                <div class="lang">
                    <a href="#" class="active lang-link">En</a>
                    <a href="#" class="lang-link">Ru</a>
                </div>
            </div>

            <div class="ico_group">
                <!-- If user has not been authorized -->
                {% if request['user'] is none %}
                <div class="user logined only_mob">
					<div>
                        <a href="#" class="ico_user only_mob"><img src="images/icons/user.svg" alt=""></a>
                    </div>
                </div>
                <div class="sign_line no_mob">
					<a href="{{ ext_url('sign_in') }}" class="btn">{{ _('link:sign_in') }}</a>
					<a href="{{ ext_url('sign_up') }}" class="btn3">{{ _('link:sign_up') }}</a>
				</div>
                <!-- If user has been authorized -->
                {% else %}
                <div class="user logined">
					<div>
                        <a href="#" class="ico_user only_mob"><img src="images/icons/user.svg" alt=""></a>
                        <p class="name no_mob">{{ request['user']['nickname'] }}</p>
						<img src="{{ ext_url('storage') }}/{{ request['user']['image_small'] }}" width="35px" alt="" class="ico img-circle no_mob">
						<a href="{{ ext_url('sign_out') }}" class="hide no_mob">{{ _('link:sign_out') }}</a>
					</div>
				</div>
                <a href="#" class="alarm"><img src="images/icons/alarm.svg" alt=""></a>
                {% endif %}
                <!-- End If -->

                <div class="menu_ico only_mob">
                    <div></div>
                </div>
            </div>
        </div>

        {% if not request.path|is_index %}
            <div class="toggle_box">
                {% include 'components/search_bar.jinja2' %}
            </div>
            <div class="platforms no_mob">
                <a href="{{ url('games', query_={'platform': 'Mobile'}) }}">{{ _('title:mobile_games') }}</a>
                <a href="{{ url('games', query_={'platform' : 'PC'}) }}">{{ _('title:pc_games') }}</a>
                <a href="{{ url('games', query_={"platform" : "Console"}) }}">{{ _('title:console_games') }}</a>
            </div>
        {% endif %}
    </div>
</header>
