<section class="section">
    <h2>{{ _('title:payment_methods') }}</h2>
    <div class="slider in_three">
        <div class="owl-carousel">
            <div class="item">
                <img src="/images/paypal.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/mir.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/visa.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/mastercard.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/mir.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/visa.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/paypal.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/mir.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/visa.jpg" alt="">
            </div>
        </div>
    </div>
</section>