 <form action="#" class="search">
    <p><input type="text" placeholder="{{ _('placeholder:search') }}"></p>
    <div class="cat_select no_mob">
        <p class="caption">{{ _('text:categories') }}</p>
        <ul>
            <li class="sub_menu"><a href="#">Game coins</a>
                <ul>
                    <li><a href="#">Game coins</a></li>
                    <li><a href="#">Game coins</a></li>
                </ul>
            </li>
            <li class="sub_menu"><a href="#">Game coins</a>
                <ul>
                    <li><a href="#">Game coins</a></li>
                    <li><a href="#">Word of Warcraft (US)</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <button></button>
</form>
