{% macro render_game_details(index, game_options) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:game_details') }}</p>
            <div class="info">?</div>
        </div>
        <div class="line_form">
            {% for game_option in game_options %}
                <label>{{ game_option.option.game_option_name }}</label>
                <div class="select">
                    <p class="val">{{ _('placeholder:please_select') }}</p>
                    <select class="select_game_option" name="product[game_options][{{ game_option.option.id }}]">
                        <option value="" disabled selected>{{ _('placeholder:please_select') }}</option>
                        {% for value in game_option.values %}
                            <option value="{{ value.id }}">
                                {{ value.game_option_value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_product_details(index) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:product_details') }}</p>
            <div class="info">?</div>
        </div>
        <div class="line_form">
            <label>{{ _('title:product_name') }}</label>
            <input class="product_name" name="product[name]" type="text" placeholder="{{ _('title:product_name') }}" />
            <label>{{ _('title:description') }}</label>
            <textarea class="product_description" name="product[description]" placeholder="{{ _('title:description') }}"></textarea>
        </div>
    </div>
{% endmacro %}

{% macro render_upload_image(index) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:upload_image') }}</p>
            <div class="info">?</div>
        </div>
        <div class="line_form">
            <div class="upload_box">
                <div class="add_new add_button">
                    <input type="file" class="add_new" id="image-select" accept="image/png,image/jpeg,image/bmp" multiple>
                    <label class="add_new add_new_label" for="image-select">+</label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_price_settings(index, price_unit_placeholder, currencies) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:price_settings') }}</p>
            <div class="info">?</div>
        </div>
        <div class="col_2">
            <div class="line_form">
                <label>{{ _('label:currency') }}</label>
                <div class="select">
                    <p class="val">{{ _('placeholder:select_currency') }}</p>
                    <select class="select_currency" name="product[currency_id]">
                        <option value="" disabled selected>{{ _('placeholder:select_currency') }}</option>
                        {% for currency in currencies %}
                            <option value="{{ currency.id }}">{{ currency.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="line_form">
                <label>{{ _('label:stock') }}</label>
                <input class="product_stock" name="product[stock]" type="text" class="coin" autocomplete="off" placeholder="0 {{ price_unit_placeholder }}">
            </div>
            <div class="line_form">
                <label>{{ _('label:price_per_unit') }}</label>
                <input class="product_price_per_unit" name="product[price_per_unit]" autocomplete="off" type="text" placeholder="0.00">
            </div>
            <div class="line_form">
                <label>{{ _('label:min_unit_per_order') }}</label>
                <input class="product_min_unit_per_order" name="product[min_unit_per_order]" autocomplete="off" type="text" class="coin" placeholder="0 {{ price_unit_placeholder }}">
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_insurances(index, insurances) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:insurance') }}</p>
            <div class="info">?</div>
        </div>
        <div class="line_form">
            {% for insurance in insurances %}
            <label class="radiobox">
                <input class="select_insurance" type="radio" name="product[insurance_id]" value="{{ insurance.id }}" />
                <span class="radiobox__text">{{ insurance.insurance_days }} {{ _('text:days') }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_durations(index, durations) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:duration') }}</p>
            <div class="info">?</div>
        </div>
        <div class="line_form">
            {% for duration in durations %}
            <label class="radiobox">
                <input class="select_duration" type="radio" name="product[duration_id]" value="{{ duration.id }}" />
                <span class="radiobox__text">{{ duration.duration_days }} {{ _('text:days') }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_delivery_guidelines(delivery_guidelines) %}
{% endmacro %}

{% macro render_delivery_options(index, delivery_options) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:delivery_option') }}</p>
            <div class="info">?</div>
        </div>
        <div class="line_form">
            {% for delivery_option in delivery_options %}
            <label class="checkbox">
                <input class="select_delivery_option" type="checkbox" val="{{ delivery_option.id }}" name="product[delivery_option][{{ delivery_option.id }}]" />
                <span class="checkbox__text">{{ delivery_option.name }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_delivery_eta(index, online_hrs, offline_hrs) %}
    <div class="box">
        <div class="step_name">
            <div class="num">{{ index }}</div>
            <p>{{ _('title:delivery_eta') }}</p>
            <div class="info">?</div>
        </div>
        <div class="col_2">
            <div class="line_form">
                <label>{{ _('label:online_hrs') }}</label>
                <div class="select">
                    <p class="val">{{ _('placeholder:please_select') }}</p>
                    <select class="select_online_hrs" name="product[online_hrs]">
                        <option value="" disabled selected>{{ _('placeholder:please_select') }}</option>
                        {% for current_online_hrs in online_hrs %}
                            <option value="{{ current_online_hrs }}">{{ current_online_hrs }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="line_form">
                <label>{{ _('label:offline_hrs') }}</label>
                <div class="select">
                    <p class="val">{{ _('placeholder:please_select') }}</p>
                    <select class="select_offline_hrs" name="product[offline_hrs]">
                        <option value="" disabled selected>{{ _('placeholder:please_select') }}</option>
                        {% for current_offline_hrs in offline_hrs %}
                            <option value="{{ current_offline_hrs }}">{{ current_offline_hrs }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

<div id="advanced-form">
    {% set block_index = 1 %}

    {% if game_options|length > 0 %}
        {% set block_index = block_index + 1 %}
        {{ render_game_details(block_index, game_options) }}
    {% endif %}

    {% set block_index = block_index + 1 %}
    {{ render_product_details(block_index) }}

    {% set block_index = block_index + 1 %}
    {{ render_upload_image(block_index) }}

    {% set block_index = block_index + 1 %}
    {{ render_price_settings(block_index, price_unit_placeholder, currencies) }}

    {% if insurances|length > 0 %}
        {% set block_index = block_index + 1 %}
        {{ render_insurances(block_index, insurances) }}
    {% endif %}

    {% if durations|length > 0 %}
        {% set block_index = block_index + 1 %}
        {{ render_durations(block_index, durations) }}
    {% endif %}

    {% if delivery_guidelines|length > 0 %}
        {{ render_delivery_guidelines(delivery_guidelines) }}
    {% endif %}

    {% if delivery_options|length > 0 %}
        {% set block_index = block_index + 1 %}
        {{ render_delivery_options(block_index, delivery_options) }}
    {% endif %}

    {% set block_index = block_index + 1 %}
    {{ render_delivery_eta(block_index, online_hrs, offline_hrs) }}
    
    {% include 'pages/product/forms/components/submit.jinja2' %}
</div>